body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background-color: black;
}

body::before {
    content: ' ';
    position: fixed;
    display: block;
    position: absolute;
    left: 0;
	/*
		animation-name: bkgndmove;
		animation-duration: 20s;
		animation-timing-function: linear;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
	*/
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-image: url(../img/bg04.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}



.login {
  background: url(../img/EVE_SSO_Login_Buttons_Small_Black.png) no-repeat 6px center;
  width: 200px;
  height: 50px;
  display: block;
}


#copyclip {
    position: relative;
    z-index: 1;
    left: -16px;
    /* top: 1px; */
    color: #36d435;
    cursor: pointer;
    width: 0;
    /* padding-left: 3px; */
    margin-left: 18px;
}

.clearit {
    clear: both;
}

div.ws {
    padding: 10px;
}

div.ws-sm {
    padding: 5px;
}

div.centered {
    margin: auto;
    width: 50%;
}

.descr {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
    display: inline-block;
    line-height: normal;
}

.white {
    color: white;
}

.gold {
    color: gold;
}

.black {
    /*color: black !important;*/
}

.control-label {
    font-weight: bold;
    display: block;
}

.subhead {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 2px;
    font-size: 1.1em;
}

.sechead {
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 14px;
    font-size: 156%;
    font-weight: bolder;
}

.sechead-no-indent {
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 1.4em;
    opacity: .8;
}


/* MODALS */

.modal-header {
    padding: 15px;
    border: none;
    color: white;
    border-radius: 20px 20px 0px 0px;
}

.sar {
    background-color: #c9302c;
}

.sysnotes {
    background-color: #504d4d;
}

.sower {
    background-color: green;
}

.sowerlight {
    background-color: #ccffcc;
}

.tender {
    background-color: #6495ed;
}

.tenderlight {
    background-color: #d1dffa;
}

.adjunct {
    background-color: #ffed4d;
}

.adjunctlight {
    background-color: #fffacd;
}

.field {
    padding-bottom: 10px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.message {
    font-weight: bold;
    color: black;
    padding: 5px;
    text-align: center;
}

.tt-hint,
.targetsystem,
.sys,
.system,
.system_sower,
.system_tender,
.system_adjunct {
    border: 1px solid #3bd64769;
    border-radius: 6px;
    font-size: 1em;
    outline: medium none;
    padding: 4px 6px;
    width: 70%;
}


/* BOOTSTRAP OVERRIDES*/

.btn {
    padding: 1px 6px;
    border-radius: 6px;
    opacity: .8;
    margin: 4px;
}

.btn.focus,
.btn:focus,
.btn:hover {
    opacity: 1;
}

button,
input,
select,
textarea {
    background-color: transparent;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(59, 214, 71, 0.41);
    border-radius: 6px;
    padding: 1px 6px;
}
select option{
	color: #eeeeee;
    background-color: #282626;
    font-weight: 700;
}

button.close {
    margin-top: -2px;
    font-size: 36px;
    font-weight: bold;
}

img {
    opacity: .8;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid rgba(221, 221, 221, .6);
    line-height: 1em;
    padding: 4px;
    font-size: 0.9em;
    vertical-align: middle;
}

.nav>li>a {
    padding: 2px 8px;
}

.form-control {
    background-color: rgba(35, 33, 33, 0.55);
    color: #d0c9c9;
    border: 1px solid #8282827d;
}

.form-control>option {
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #FF0000;
    color: white;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

::placeholder {
    color: white;
}

.modal-header {
    padding: 15px;
    border: none;
}

.modal-content {
    position: relative;
    background-color: #000;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid rgb(0, 128, 0);
    border-radius: 20px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.carousel-content {
    color: white;
    font-size: 0.9em;
    display: flex;
    text-align: left;
    padding: 20px;
    background-color: rgba(158, 158, 158, 0.2);
    border-radius: 20px;
    margin: 20px;
    overflow: hidden;
}


/* END BS OVERRIDES*/

.tt-dropdown-menu {
    width: 40%;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.8);
    background-color: black;
}

.tt-suggestion {
    padding: 3px 10px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: rgb(45, 128, 39);
}

.tt-suggestion p {
    margin: 0;
}

.nav-tabs>li>a {
    border-radius: 4px 4px 0 0;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

.actionSower {
    color: gold;
}

.actionAgent {
    color: green;
}

.actionTender {
    color: white;
}

.cacheHealthy {
    border-left: 6px solid rgb(66, 240, 66);
}

.cacheExpired {
    border-left: 6px solid red;
}

.cacheUpkeepRequired {
    border-left: 6px solid yellow;
}

.cacheNoStatus {
    border-left: 6px solid transparent;
}

.notesRow {
    background-color: rgba(42, 42, 0, 0.25);
    padding-left: 14px;
}

.systemName {
    font-weight: bold;
    font-size: 200%;
    vertical-align: middle;
}

.whStatics {
    font-family: monospace;
    padding-top: 5px;
    font-weight: bold;
}

.whStatics ul {
    padding-left: 5px;
    margin-bottom: 5px;
    list-style: none;
    color: brown;
}

.whDest-ns {
    color: #7FFFD4;
}

.whDest-ls {
    color: #B8860B;
}

.whDest-hs {
    color: #5cb85c;
}

.whDest-thera {
    color: #6495ED;
}

.whDest-c1 {
    color: #E9967A;
}

.whDest-c2 {
    color: #FA8072;
}

.whDest-c3 {
    color: #FF6347;
}

.whDest-c4 {
    color: #FF4500;
}

.whDest-c5 {
    color: #FF0000;
}

.whDest-c6 {
    color: #DC143C;
}

