body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: black;
}

body::before {
    content: ' ';
    position: fixed;
    will-change: transform;
}

.clearit {
	clear: both;
}

div.ws {
    padding: 10px;
}

div.ws-sm {
    padding: 5px;
}

div.centered {
    margin: auto;
    width: 50%;
}

.descr {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding-left: 10px;
	display: inline-block;
	line-height: normal;
}

.white {
	color: white;
}

.black {
    color: black !important;
}

.control-label {
	font-weight: bold;
	display: block;
}

.sechead {
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 14px;
	font-size: 156%;
	font-weight: bolder;
}

.sechead-no-indent {
	padding-bottom: 3px;
	padding-top: 3px;
	font-size: 156%;
	font-weight: bolder;
}

.sower {
	background-color: green;
	color: white;
	border-radius: 6px 6px 0px 0px;
}

.sowerlight {
	background-color: #ccffcc;
	padding: 5px;
	border-radius: 0px 0px 6px 6px;
}

.tender {
	background-color: #6495ed;
	color: white;
	border-radius: 6px 6px 0px 0px;
}

.tenderlight {
	background-color: #d1dffa;
	padding: 5px;
	border-radius: 0px 0px 6px 6px;
}

.adjunct {
	background-color: #ffed4d;
	border-radius: 6px 6px 0px 0px;
	color: rgb(47, 47, 47);
}

.adjunctlight {
	background-color: #fffacd;
	padding: 5px;
	border-radius: 0px 0px 6px 6px;
}

.sar {
	background-color: #c9302c;
	border-radius: 6px 6px 0px 0px;
	color: white;
}

.sysnotes {
	background-color: #504d4d;
	border-radius: 6px 6px 0px 0px;
	color: white;
}

.field {
	padding-bottom: 10px;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.message {
	font-weight: bold; 
	color: black;
	padding: 5px;
	text-align: center;
}

.tt-hint,
.targetsystem,
.sys,
.system,
.system_sower,
.system_tender,
.system_adjunct {
	border: 2px solid #CCCCCC;
	border-radius: 8px 8px 8px 8px;
	font-size: 130%;
	height: 34px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 70%;
}

.tt-dropdown-menu {
	width: 40%;
	margin-top: 5px;
	padding: 8px 0px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px 8px 8px 8px;
	font-size: 18px;
	color: #111;
	background-color: #F1F1F1;
}

.tt-suggestion {
    padding: 3px 10px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.nav-tabs > li > a {
 	border-radius: 4px 4px 0 0 ;
  	background-color: rgba(255, 255, 255, 0.4);
  	color: black;
}

.actionSower {
	background-color:#ccffcc;color:black;
} 
.actionTender {
	background-color:#d1dffa;color:black;
}
.actionAgent {
	background-color:#fffacd;color:black;
}
.actionSower {
	background-color:#ccffcc;color:black;
} 
.actionTender {
	background-color:#d1dffa;color:black;
}
.actionAgent {
	background-color:#fffacd;color:black;
}
.cacheHealthy {
	border-left: 6px solid green;
}
.cacheExpired {
	border-left: 6px solid red;
}
.cacheUpkeepRequired {
	border-left: 6px solid yellow;
}
.cacheNoStatus {
	border-left: 6px solid grey;
}
.notesRow {
	background-color: rgba(42, 42, 0, 0.25);
	padding-left: 14px;
}
.systemName {
	font-weight: bold; font-size: 200%; vertical-align: middle;
}

.whStatics {
	font-family: monospace;
	padding-top: 5px;
	font-weight: bold;
}

.whStatics ul {
	padding-left: 5px;
	margin-bottom: 5px;
	list-style: none;
	color: brown;
}

.whDest-ns {
	color: #7FFFD4;
}
.whDest-ls {
	color: #B8860B;
}
.whDest-hs {
	color: #5cb85c;
}
.whDest-thera {
	color: #6495ED;
}
.whDest-c1 {
	color: #E9967A;
}
.whDest-c2 {
	color: #FA8072;
}
.whDest-c3 {
	color: #FF6347;
}
.whDest-c4 {
	color: #FF4500;
}
.whDest-c5 {
	color: #FF0000;
}
.whDest-c6 {
	color: #DC143C;
}